@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

.footer {
    display: flex;
    flex-direction: row;
}

.titulo {
    font-family: Poppins;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    background-color: #ffffff;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100vw;
    z-index: 100;
    padding: .3em 5em .3em 5em;
    border-bottom: 1px solid #ffffff35;
}

.menuletras {
    font-family: Poppins;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    transition: all .5s;
}

.menuletras:hover {
    transform: translateY(-5px);
    cursor: pointer;
    color: rgb(197, 197, 197);
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.burger {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M4 17H20M4 12H20M4 7H20' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    width: 25px;
    height: 25px;
    display: none;
}

.mobile{
    display: none;
}

/*----------------------------------------------------MobileMenu----------------------------------------------------------*/

@media screen and (max-width: 1200px) {

    .nav {
        display: none;
    }

    .mobile {
        display: flex;
        position: fixed;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        right: 0;
        margin: 0 auto;
        width: 90%;
        max-width: 100%;
        bottom: 2em;
        border-radius: 2em;
        backdrop-filter: blur(8px);
        max-width: 56.8rem;
        z-index: 100;
        box-shadow: 0em 0em 1px 1px rgba(255, 255, 255, 0.3);
        align-items: center;
        justify-content: space-between;
        padding-top: .8em;
        padding-right: 2em;
        padding-bottom: .8em;
        padding-left: 2em;
    }
    

    .divcentrado {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M4 17H20M4 12H20M4 7H20' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-repeat: none;
        width: 50px;
        height: 50px;
        display: flex;
        transition: all .5s;
    }

    .burger:active {
        transform: scale(1.2);
    }
}

/*---------------------------------------------------ANIMACION-----------------------------------------------------------*/

  
  @keyframes rotate {
      100% {
          transform: translate(-50%, -50%) rotate(1turn);
      }
  }
  

/*--------------------------------------------------------ICONOS---------------------------------------------------------*/
.github {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' viewBox='-2 -2 24 24' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMin' class='jam jam-github'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M18.88 1.099C18.147.366 17.265 0 16.233 0H3.746C2.714 0 1.832.366 1.099 1.099.366 1.832 0 2.714 0 3.746v12.487c0 1.032.366 1.914 1.099 2.647.733.733 1.615 1.099 2.647 1.099H6.66c.19 0 .333-.007.429-.02a.504.504 0 0 0 .286-.169c.095-.1.143-.245.143-.435l-.007-.885c-.004-.564-.006-1.01-.006-1.34l-.3.052c-.19.035-.43.05-.721.046a5.555 5.555 0 0 1-.904-.091 2.026 2.026 0 0 1-.872-.39 1.651 1.651 0 0 1-.572-.8l-.13-.3a3.25 3.25 0 0 0-.41-.663c-.186-.243-.375-.407-.566-.494l-.09-.065a.956.956 0 0 1-.17-.156.723.723 0 0 1-.117-.182c-.026-.061-.004-.111.065-.15.07-.04.195-.059.378-.059l.26.04c.173.034.388.138.643.311a2.1 2.1 0 0 1 .631.677c.2.355.44.626.722.813.282.186.566.28.852.28.286 0 .533-.022.742-.065a2.59 2.59 0 0 0 .585-.196c.078-.58.29-1.028.637-1.34a8.907 8.907 0 0 1-1.333-.234 5.314 5.314 0 0 1-1.223-.507 3.5 3.5 0 0 1-1.047-.872c-.277-.347-.505-.802-.683-1.365-.177-.564-.266-1.215-.266-1.952 0-1.049.342-1.942 1.027-2.68-.32-.788-.29-1.673.091-2.652.252-.079.625-.02 1.119.175.494.195.856.362 1.086.5.23.14.414.257.553.352a9.233 9.233 0 0 1 2.497-.338c.859 0 1.691.113 2.498.338l.494-.312a6.997 6.997 0 0 1 1.197-.572c.46-.174.81-.221 1.054-.143.39.98.424 1.864.103 2.653.685.737 1.028 1.63 1.028 2.68 0 .737-.089 1.39-.267 1.957-.177.568-.407 1.023-.689 1.366-.282.343-.633.63-1.053.865-.42.234-.828.403-1.223.507a8.9 8.9 0 0 1-1.333.235c.45.39.676 1.005.676 1.846v3.11c0 .147.021.266.065.357a.36.36 0 0 0 .208.189c.096.034.18.056.254.064.074.01.18.013.318.013h2.914c1.032 0 1.914-.366 2.647-1.099.732-.732 1.099-1.615 1.099-2.647V3.746c0-1.032-.367-1.914-1.1-2.647z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: .5s;
    cursor: pointer;
}

.github:hover {
    transform: scale(1.1);
    transition: .5s;
}

.instagram {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 192 192' xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath stroke='%23ffffff' stroke-width='12' d='M96 162c-14.152 0-24.336-.007-32.276-.777-7.849-.761-12.87-2.223-16.877-4.741a36 36 0 0 1-11.33-11.329c-2.517-4.007-3.98-9.028-4.74-16.877C30.007 120.336 30 110.152 30 96c0-14.152.007-24.336.777-32.276.76-7.849 2.223-12.87 4.74-16.877a36 36 0 0 1 11.33-11.33c4.007-2.517 9.028-3.98 16.877-4.74C71.663 30.007 81.847 30 96 30c14.152 0 24.336.007 32.276.777 7.849.76 12.87 2.223 16.877 4.74a36 36 0 0 1 11.329 11.33c2.518 4.007 3.98 9.028 4.741 16.877.77 7.94.777 18.124.777 32.276 0 14.152-.007 24.336-.777 32.276-.761 7.849-2.223 12.87-4.741 16.877a36 36 0 0 1-11.329 11.329c-4.007 2.518-9.028 3.98-16.877 4.741-7.94.77-18.124.777-32.276.777Z'%3E%3C/path%3E%3Ccircle cx='96' cy='96' r='30' stroke='%23ffffff' stroke-width='12'%3E%3C/circle%3E%3Ccircle cx='135' cy='57' r='9' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    width: 44px;
    height: 44px;
    cursor: pointer;
    transition: .5s;


}

.instagram:hover {
    transform: scale(1.1);
    transition: .5s;

}

.linkedin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M18.72 3.99997H5.37C5.19793 3.99191 5.02595 4.01786 4.86392 4.07635C4.70189 4.13484 4.55299 4.22471 4.42573 4.34081C4.29848 4.45692 4.19537 4.59699 4.12232 4.75299C4.04927 4.909 4.0077 5.07788 4 5.24997V18.63C4.01008 18.9901 4.15766 19.3328 4.41243 19.5875C4.6672 19.8423 5.00984 19.9899 5.37 20H18.72C19.0701 19.9844 19.4002 19.8322 19.6395 19.5761C19.8788 19.32 20.0082 18.9804 20 18.63V5.24997C20.0029 5.08247 19.9715 4.91616 19.9078 4.76122C19.8441 4.60629 19.7494 4.466 19.6295 4.34895C19.5097 4.23191 19.3672 4.14059 19.2108 4.08058C19.0544 4.02057 18.8874 3.99314 18.72 3.99997ZM9 17.34H6.67V10.21H9V17.34ZM7.89 9.12997C7.72741 9.13564 7.5654 9.10762 7.41416 9.04768C7.26291 8.98774 7.12569 8.89717 7.01113 8.78166C6.89656 8.66615 6.80711 8.5282 6.74841 8.37647C6.6897 8.22474 6.66301 8.06251 6.67 7.89997C6.66281 7.73567 6.69004 7.57169 6.74995 7.41854C6.80986 7.26538 6.90112 7.12644 7.01787 7.01063C7.13463 6.89481 7.2743 6.80468 7.42793 6.74602C7.58157 6.68735 7.74577 6.66145 7.91 6.66997C8.07259 6.66431 8.2346 6.69232 8.38584 6.75226C8.53709 6.8122 8.67431 6.90277 8.78887 7.01828C8.90344 7.13379 8.99289 7.27174 9.05159 7.42347C9.1103 7.5752 9.13699 7.73743 9.13 7.89997C9.13719 8.06427 9.10996 8.22825 9.05005 8.3814C8.99014 8.53456 8.89888 8.6735 8.78213 8.78931C8.66537 8.90513 8.5257 8.99526 8.37207 9.05392C8.21843 9.11259 8.05423 9.13849 7.89 9.12997ZM17.34 17.34H15V13.44C15 12.51 14.67 11.87 13.84 11.87C13.5822 11.8722 13.3313 11.9541 13.1219 12.1045C12.9124 12.2549 12.7546 12.4664 12.67 12.71C12.605 12.8926 12.5778 13.0865 12.59 13.28V17.34H10.29V10.21H12.59V11.21C12.7945 10.8343 13.0988 10.5225 13.4694 10.3089C13.84 10.0954 14.2624 9.98848 14.69 9.99997C16.2 9.99997 17.34 11 17.34 13.13V17.34Z' fill='%23ffffff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    background-size: contain;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: all .5s;
}

.linkedin:hover {
    transform: scale(1.1);
}

.home {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Ehome-chimney%3C/title%3E%3Cpath d='M30.488 13.431l-2.738-2.347v-7.064c0-0.414-0.336-0.75-0.75-0.75s-0.75 0.336-0.75 0.75v0 5.778l-9.762-8.367c-0.13-0.112-0.301-0.18-0.488-0.18s-0.358 0.068-0.489 0.181l0.001-0.001-14 12c-0.161 0.138-0.262 0.342-0.262 0.569v16c0 0.414 0.336 0.75 0.75 0.75h28c0.414-0 0.75-0.336 0.75-0.75v0-16c-0-0.227-0.101-0.431-0.261-0.569l-0.001-0.001zM11.75 29.25v-5.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25v0 5.25zM29.25 29.25h-7.5v-5.25c0-3.176-2.574-5.75-5.75-5.75s-5.75 2.574-5.75 5.75v0 5.25h-7.5v-14.905l13.25-11.356 13.25 11.356z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    transition: all .5s;
}

.home:hover {
    transform: scale(1.1);
}

.about {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M85.333 512C85.333 276.358 276.358 85.333 512 85.333c235.639 0 426.667 191.025 426.667 426.667 0 235.639-191.027 426.667-426.667 426.667C276.358 938.667 85.333 747.64 85.333 512zM512 128c-212.077 0-384 171.923-384 384 0 142.135 77.222 266.231 192 332.629V628.62c0-77.474 45.885-144.23 111.962-174.575-38.129-25.737-63.201-69.344-63.201-118.808 0-79.108 64.131-143.238 143.24-143.238s143.236 64.13 143.236 143.238c0 49.463-25.071 93.071-63.202 118.808 66.078 30.345 111.966 97.101 111.966 174.575v216.009c114.778-66.398 192-190.494 192-332.629 0-212.077-171.921-384-384-384zm149.333 737.882V628.621c0-82.475-66.859-149.333-149.333-149.333s-149.333 66.859-149.333 149.333v237.261C408.572 885.278 459.034 896 512 896s103.428-10.722 149.333-30.118zM512 234.667c-55.543 0-100.573 45.027-100.573 100.571S456.457 435.81 512 435.81c55.543 0 100.57-45.028 100.57-100.572S567.544 234.667 512 234.667z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    transition: all .5s;
}

.about:hover {
    transform: scale(1.1);
}

.services {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' fill='%23ffffff' class='icon' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M839.774 703.942c-35.286 0-63.98-28.696-63.98-63.98s28.696-63.98 63.98-63.98c35.288 0 63.98 28.696 63.98 63.98s-28.694 63.98-63.98 63.98z m0-111.966c-26.46 0-47.984 21.524-47.984 47.984s21.524 47.984 47.984 47.984 47.986-21.524 47.986-47.984-21.526-47.984-47.986-47.984z' fill=''%3E%3C/path%3E%3Cpath d='M943.742 647.944a7.994 7.994 0 0 1-7.998-7.998c0-52.906-43.048-95.956-95.97-95.956a7.994 7.994 0 0 1-7.998-7.998 7.992 7.992 0 0 1 7.998-7.996c61.732 0 111.966 50.218 111.966 111.95a7.994 7.994 0 0 1-7.998 7.998zM839.774 751.926c-61.73 0-111.964-50.234-111.964-111.964a7.994 7.994 0 0 1 7.998-7.998 7.992 7.992 0 0 1 7.996 7.998c0 52.922 43.05 95.97 95.97 95.97a7.994 7.994 0 0 1 7.998 7.998 7.992 7.992 0 0 1-7.998 7.996zM840.258 647.958c-4.42 0-8.076-3.578-8.076-7.998s3.5-7.998 7.904-7.998h0.172c4.404 0 7.998 3.578 7.998 7.998s-3.594 7.998-7.998 7.998zM616.326 456.018c-4.42 0-8.074-3.578-8.074-7.998s3.498-7.998 7.902-7.998h0.172a8.004 8.004 0 0 1 7.998 7.998 8.004 8.004 0 0 1-7.998 7.998zM839.774 408.032a7.994 7.994 0 0 1-7.998-7.998v-175.948c0-4.42 3.578-7.998 7.998-7.998s7.998 3.578 7.998 7.998v175.948a7.994 7.994 0 0 1-7.998 7.998zM40.494 224.088c-4.412 0-8.074-3.576-8.074-7.998s3.498-7.998 7.92-7.998h0.154c4.422 0 7.998 3.576 7.998 7.998s-3.576 7.998-7.998 7.998zM72.484 224.088c-4.412 0-8.074-3.576-8.074-7.998s3.498-7.998 7.918-7.998h0.156c4.422 0 7.998 3.576 7.998 7.998s-3.576 7.998-7.998 7.998zM104.474 224.088c-4.412 0-8.074-3.576-8.074-7.998s3.498-7.998 7.918-7.998h0.156c4.422 0 7.998 3.576 7.998 7.998s-3.576 7.998-7.998 7.998z' fill=''%3E%3C/path%3E%3Cpath d='M839.774 240.084H8.03a7.994 7.994 0 0 1-7.998-7.998v-15.996c0-13.23 10.762-23.994 23.992-23.994H823.78c13.23 0 23.992 10.762 23.992 23.994v15.996a7.994 7.994 0 0 1-7.998 7.998zM16.026 224.088h815.75v-7.998c0-4.342-3.654-7.998-7.996-7.998H24.024a8.008 8.008 0 0 0-7.998 7.998v7.998z' fill=''%3E%3C/path%3E%3Cpath d='M8.03 831.902a7.994 7.994 0 0 1-7.998-7.998V232.086a7.994 7.994 0 0 1 7.998-7.998 7.992 7.992 0 0 1 7.996 7.998v591.818a7.992 7.992 0 0 1-7.996 7.998z' fill=''%3E%3C/path%3E%3Cpath d='M759.798 831.902H8.03c-4.422 0-7.998-3.578-7.998-7.998s3.576-7.998 7.998-7.998H759.8c4.42 0 7.996 3.578 7.996 7.998s-3.578 7.998-7.998 7.998z' fill=''%3E%3C/path%3E%3Cpath d='M40.02 831.902a7.994 7.994 0 0 1-7.998-7.998V232.086a7.994 7.994 0 0 1 7.998-7.998 7.992 7.992 0 0 1 7.996 7.998v591.818a7.992 7.992 0 0 1-7.996 7.998z' fill=''%3E%3C/path%3E%3Cpath d='M24.024 304.064H8.03c-4.422 0-7.998-3.578-7.998-7.998s3.576-7.998 7.998-7.998h15.994c4.42 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998zM24.024 352.048H8.03c-4.422 0-7.998-3.576-7.998-7.998s3.576-7.998 7.998-7.998h15.994c4.42 0 7.998 3.576 7.998 7.998s-3.578 7.998-7.998 7.998zM24.024 400.036H8.03a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h15.994a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM24.024 448.02H8.03a7.992 7.992 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h15.994a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM24.024 496.004H8.03a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h15.994a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM24.024 543.99H8.03a7.992 7.992 0 0 1-7.998-7.998 7.992 7.992 0 0 1 7.998-7.996h15.994a7.992 7.992 0 0 1 7.998 7.996 7.994 7.994 0 0 1-7.998 7.998zM24.024 591.976H8.03c-4.422 0-7.998-3.578-7.998-7.998s3.576-7.998 7.998-7.998h15.994c4.42 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998zM24.024 639.96H8.03c-4.422 0-7.998-3.578-7.998-7.998s3.576-7.998 7.998-7.998h15.994c4.42 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998zM24.024 687.946H8.03a7.992 7.992 0 0 1-7.998-7.996 7.992 7.992 0 0 1 7.998-7.998h15.994a7.994 7.994 0 0 1 7.998 7.998 7.992 7.992 0 0 1-7.998 7.996zM24.024 735.932H8.03a7.992 7.992 0 0 1-7.998-7.998 7.992 7.992 0 0 1 7.998-7.996h15.994a7.992 7.992 0 0 1 7.998 7.996 7.994 7.994 0 0 1-7.998 7.998zM24.024 783.916H8.03a7.992 7.992 0 0 1-7.998-7.998 7.992 7.992 0 0 1 7.998-7.996h15.994a7.992 7.992 0 0 1 7.998 7.996 7.994 7.994 0 0 1-7.998 7.998zM151.984 304.064h-63.98c-4.42 0-7.998-3.578-7.998-7.998s3.578-7.998 7.998-7.998h63.98c4.42 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998zM487.88 352.048H215.964c-4.42 0-7.998-3.576-7.998-7.998s3.578-7.998 7.998-7.998H487.88c4.422 0 7.998 3.576 7.998 7.998s-3.576 7.998-7.998 7.998zM183.974 352.048H104c-4.422 0-7.998-3.576-7.998-7.998s3.576-7.998 7.998-7.998h79.974c4.42 0 7.998 3.576 7.998 7.998s-3.578 7.998-7.998 7.998zM455.89 400.036h-47.984a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h47.984a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM375.916 400.036H119.994a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h255.922a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM167.978 496.004H119.994a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h47.984a7.994 7.994 0 0 1 7.998 7.998 7.992 7.992 0 0 1-7.998 7.998zM437.396 496.004H199.968a7.992 7.992 0 0 1-7.996-7.998 7.992 7.992 0 0 1 7.996-7.998h237.428a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM167.978 687.946H119.994a7.992 7.992 0 0 1-7.998-7.996 7.994 7.994 0 0 1 7.998-7.998h47.984a7.992 7.992 0 0 1 7.998 7.998 7.992 7.992 0 0 1-7.998 7.996zM421.402 687.946H199.968a7.99 7.99 0 0 1-7.996-7.996 7.992 7.992 0 0 1 7.996-7.998h221.434a7.992 7.992 0 0 1 7.996 7.998 7.99 7.99 0 0 1-7.996 7.996zM343.926 448.02H135.988a7.992 7.992 0 0 1-7.996-7.998 7.992 7.992 0 0 1 7.996-7.998h207.938a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM487.88 543.99h-159.952a7.992 7.992 0 0 1-7.996-7.998 7.99 7.99 0 0 1 7.996-7.996h159.952a7.992 7.992 0 0 1 7.998 7.996 7.992 7.992 0 0 1-7.998 7.998zM359.92 591.976H104c-4.422 0-7.998-3.578-7.998-7.998s3.576-7.998 7.998-7.998h255.92c4.422 0 7.998 3.578 7.998 7.998s-3.576 7.998-7.998 7.998zM279.946 735.932H104a7.992 7.992 0 0 1-7.998-7.998A7.992 7.992 0 0 1 104 719.938h175.946a7.992 7.992 0 0 1 7.998 7.996 7.994 7.994 0 0 1-7.998 7.998zM551.862 639.96H311.936c-4.42 0-7.998-3.578-7.998-7.998s3.578-7.998 7.998-7.998h239.926c4.422 0 7.998 3.578 7.998 7.998s-3.576 7.998-7.998 7.998zM279.946 639.96H119.994c-4.42 0-7.998-3.578-7.998-7.998s3.578-7.998 7.998-7.998h159.952c4.42 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998zM151.984 783.916h-63.98a7.994 7.994 0 0 1-7.998-7.998 7.992 7.992 0 0 1 7.998-7.996h63.98a7.992 7.992 0 0 1 7.998 7.996 7.994 7.994 0 0 1-7.998 7.998zM519.872 591.976h-127.96c-4.42 0-7.996-3.578-7.996-7.998s3.576-7.998 7.996-7.998h127.96c4.422 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998zM295.94 543.99H119.994a7.994 7.994 0 0 1-7.998-7.998 7.992 7.992 0 0 1 7.998-7.996h175.946a7.992 7.992 0 0 1 7.998 7.996 7.992 7.992 0 0 1-7.998 7.998z' fill=''%3E%3C/path%3E%3Cpath d='M871.764 831.902h-63.98a7.994 7.994 0 0 1-7.998-7.998v-37.426c-25.242-6.874-48.14-20.12-66.822-38.66l-33.38 19.26c-3.842 2.204-8.732 0.906-10.918-2.922l-31.99-55.42a7.976 7.976 0 0 1 2.922-10.918l33.208-19.182a152.712 152.712 0 0 1-0.016-77.32l-33.208-19.182a7.976 7.976 0 0 1-2.922-10.918l32.006-55.452a7.964 7.964 0 0 1 4.842-3.734c2.078-0.532 4.234-0.266 6.076 0.812l33.366 19.26c18.698-18.542 41.596-31.788 66.838-38.66v-37.426a7.994 7.994 0 0 1 7.998-7.998h63.98a7.994 7.994 0 0 1 7.998 7.998v37.426c25.242 6.874 48.14 20.12 66.838 38.66l33.366-19.26a8.004 8.004 0 0 1 6.076-0.812 7.97 7.97 0 0 1 4.842 3.734l31.99 55.42a7.976 7.976 0 0 1-2.92 10.918l-33.208 19.182c3.312 12.606 4.982 25.586 4.982 38.676s-1.67 26.07-4.982 38.66l33.224 19.198a8 8 0 0 1 3.732 4.858 7.992 7.992 0 0 1-0.812 6.06l-32.006 55.42a7.954 7.954 0 0 1-10.918 2.922l-33.38-19.26c-18.682 18.542-41.58 31.788-66.822 38.66v37.426a8 8 0 0 1-8.002 7.998z m-55.982-15.996h47.984v-35.676a7.988 7.988 0 0 1 6.216-7.794c26.632-6.06 50.61-19.932 69.34-40.096a7.916 7.916 0 0 1 9.856-1.484l31.866 18.384 24.008-41.582-31.708-18.306a7.974 7.974 0 0 1-3.638-9.278c3.998-12.98 6.03-26.476 6.03-40.114s-2.032-27.132-6.03-40.128a7.974 7.974 0 0 1 3.638-9.278l31.694-18.292-23.992-41.58-31.85 18.384a7.936 7.936 0 0 1-9.856-1.484c-18.746-20.164-42.722-34.036-69.356-40.096a7.99 7.99 0 0 1-6.216-7.794v-35.676h-47.984v35.676a7.988 7.988 0 0 1-6.216 7.794c-26.632 6.06-50.61 19.932-69.354 40.096a7.936 7.936 0 0 1-9.858 1.484l-31.85-18.384-24.008 41.612 31.694 18.292a7.954 7.954 0 0 1 3.64 9.262 136.832 136.832 0 0 0-6.016 40.114 136.262 136.262 0 0 0 6.032 40.128 7.976 7.976 0 0 1-3.64 9.278l-31.694 18.292 23.992 41.582 31.866-18.384c3.218-1.906 7.326-1.266 9.858 1.484 18.728 20.164 42.706 34.036 69.338 40.096a7.988 7.988 0 0 1 6.216 7.794v35.674z' fill=''%3E%3C/path%3E%3Cpath d='M615.452 547.208c-1.39 0-2.764-0.36-3.998-1.076a7.966 7.966 0 0 1-3.732-4.842l-3.876-14.512a78.296 78.296 0 0 1-16.978-4.516l-10.592 10.592a7.994 7.994 0 0 1-11.308 0l-33.942-33.928a7.99 7.99 0 0 1 0-11.308l10.606-10.606a79.054 79.054 0 0 1-4.532-16.98l-14.502-3.874a8.016 8.016 0 0 1-5.654-9.81l12.41-46.344c1.156-4.234 5.498-6.716 9.792-5.656l14.278 3.828a74.212 74.212 0 0 1 5.858-6.686c2.062-2.046 4.28-4 6.716-5.904l-3.81-14.246a7.964 7.964 0 0 1 0.794-6.076 8.024 8.024 0 0 1 4.844-3.732l46.344-12.434c2.094-0.516 4.234-0.266 6.078 0.812a7.962 7.962 0 0 1 3.732 4.858l3.888 14.51a79.806 79.806 0 0 1 16.98 4.514l10.59-10.59c3-3 8.31-3 11.308 0l33.928 33.926a7.99 7.99 0 0 1 0 11.308l-10.592 10.608a80.056 80.056 0 0 1 4.516 16.962l14.496 3.874a8.02 8.02 0 0 1 5.654 9.81l-12.418 46.33a7.97 7.97 0 0 1-3.734 4.842 8.022 8.022 0 0 1-6.076 0.812l-14.214-3.828a70.254 70.254 0 0 1-5.904 6.732 71.94 71.94 0 0 1-6.702 5.888l3.828 14.23a8.012 8.012 0 0 1-5.654 9.808l-46.346 12.434a8.402 8.402 0 0 1-2.076 0.27z m-30.412-42.424c1.156 0 2.328 0.25 3.436 0.766a63.18 63.18 0 0 0 22.306 5.936 8.006 8.006 0 0 1 7.108 5.888l3.218 12.042 30.894-8.292-3.17-11.794a8.026 8.026 0 0 1 3.17-8.654c3.734-2.578 6.624-4.936 9.092-7.404 2.5-2.5 4.842-5.388 7.42-9.106 1.922-2.796 5.358-4.014 8.654-3.186l11.778 3.17 8.28-30.882-12.03-3.216a8 8 0 0 1-5.888-7.092 63.394 63.394 0 0 0-5.952-22.306 8.032 8.032 0 0 1 1.578-9.09l8.78-8.78-22.62-22.618-8.78 8.778c-2.388 2.39-6.042 3.046-9.09 1.562-6.952-3.31-14.464-5.31-22.32-5.936a7.986 7.986 0 0 1-7.094-5.904l-3.216-12.042-30.896 8.294 3.172 11.826a7.974 7.974 0 0 1-3.218 8.684c-3.532 2.406-6.498 4.828-9.06 7.374-2.498 2.516-4.842 5.388-7.358 9.044-1.92 2.78-5.374 4.03-8.652 3.202l-11.84-3.17-8.28 30.896 12.042 3.218a8 8 0 0 1 5.888 7.09 63.388 63.388 0 0 0 5.952 22.322 8.032 8.032 0 0 1-1.576 9.09l-8.78 8.778 22.632 22.62 8.764-8.764a7.996 7.996 0 0 1 5.656-2.344z' fill=''%3E%3C/path%3E%3Cpath d='M615.842 488.008c-22.054 0-39.988-17.932-39.988-39.988s17.934-39.988 39.988-39.988c22.056 0 39.988 17.932 39.988 39.988s-17.932 39.988-39.988 39.988z m0-63.98c-13.23 0-23.992 10.762-23.992 23.992s10.762 23.992 23.992 23.992 23.992-10.762 23.992-23.992-10.762-23.992-23.992-23.992z' fill=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    transition: all .5s;
}

.services:hover {
    transform: scale(1.1);
}

.about {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M12.5 15h13c.277 0 .5.223.5.5s-.223.5-.5.5h-13c-.277 0-.5-.223-.5-.5s.223-.5.5-.5zm0 3h13c.277 0 .5.223.5.5s-.223.5-.5.5h-13c-.277 0-.5-.223-.5-.5s.223-.5.5-.5zm0-6h13c.277 0 .5.223.5.5s-.223.5-.5.5h-13c-.277 0-.5-.223-.5-.5s.223-.5.5-.5zm-8-1c-.822 0-1.5.678-1.5 1.5v6c0 .822.678 1.5 1.5 1.5h4c.822 0 1.5-.678 1.5-1.5v-6c0-.822-.678-1.5-1.5-1.5zm0 1h4c.286 0 .5.214.5.5v6c0 .286-.214.5-.5.5h-4c-.286 0-.5-.214-.5-.5v-6c0-.286.214-.5.5-.5zm2-10c.277 0 .5.223.5.5v4c0 .277-.223.5-.5.5S6 6.777 6 6.5v-4c0-.277.223-.5.5-.5zm17 0c.277 0 .5.223.5.5v4c0 .277-.223.5-.5.5s-.5-.223-.5-.5v-4c0-.277.223-.5.5-.5zm-22 2C.678 4 0 4.678 0 5.5v20c0 .822.678 1.5 1.5 1.5h27c.822 0 1.5-.678 1.5-1.5v-20c0-.822-.678-1.5-1.5-1.5h-3c-.66 0-.664 1 0 1h3c.286 0 .5.214.5.5v20c0 .286-.214.5-.5.5h-27c-.286 0-.5-.214-.5-.5v-20c0-.286.214-.5.5-.5h3c.67 0 .654-1 0-1zm7 0c-.63 0-.683 1 0 1h13c.66 0 .66-1 0-1z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    transition: all .5s;
}

.about:hover {
    transform: scale(1.1);
}