@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('../../public/backgroundwallpaper.webp'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply; 
}

.iframer {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    z-index: -10;
}



.titulo {
    font-family: Poppins;
    font-weight: 500;
    color: white;
}

.texto {
    font-family: Poppins;
    font-weight: 400;
    color: white;
}

.imagen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card {
    backdrop-filter: blur(8px) saturate(100%);
    border-radius: 5%;
    border: 1px solid rgba(242, 242, 242, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 1.4em 3em 1.4em;
    gap: 1.5em;
    z-index: 3;
}

