.contenedor {
  display: flex;
  gap: 5em;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center;
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(8, 4, 17, 0.2), #080411); */
  background-image: linear-gradient(rgba(44, 28, 73, 0.2), rgba(30, 18, 53, 0.3), rgba(14, 8, 26, 0.8), rgba(8, 4, 17, 1));
  background-blend-mode: multiply;
  backdrop-filter: blur(25px) saturate(100%);
}

.subcontenedor {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  justify-content: space-between;
  align-items: center;
  place-items: center;
  gap: 10em;
}

.iframer {
  position: fixed;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
  z-index: -10;
}

.imagen {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  animation: slideLeft 1s ease forwards;
}


@media screen and (max-width: 1200px) {

  .iframer {
    display: none;
  }

  .contenedor {
    background-image: url('https://images.unsplash.com/photo-1484347727553-f0643c73b62d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    width: 100%;
    height: 100%;
  }


  .subcontenedor {
    background-image: linear-gradient(rgba(44, 28, 73, 0.2), rgba(30, 18, 53, 0.4), rgba(14, 8, 26, 0.8), rgba(8, 4, 17, 1));
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0em;
    height: 100vh;
    width: 100vw;
  }

  .imagen {
    width: 20em;
    height: 20em;
  }

}

/* KEYFRAMES ANIMATIONS */

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);

  }
}